/* Get Started Button */
.getstarted {
  background-color: var(--ifm-color-primary);
}

.getstarted:hover {
  background-color: var(--ifm-color-primary-lightest);
}

[data-theme='dark'] .getstarted {
  background-color: var(--ifm-color-primary-dark);
}

[data-theme='dark'] .getstarted:hover {
  background-color: var(--ifm-color-primary-darker);
}

/* Left Pannel */
.leftpannel {
  background-color: white;
}

[data-theme='dark'] .leftpannel {
  background-color: var(--ifm-color-primary-darkest);
}
/* Right Pannel */
.rightpannel {
  background-color: #F5F6F7;
}

[data-theme='dark'] .rightpannel {
  background-color: rgba(0,0,0,0);
}

/* Big Logo */
.biglogo {
  background-image: url(/static/img/big-logo-light.svg);
}

[data-theme='dark'] .biglogo {
  background-image: url(/static/img/big-logo-dark.svg);
}

/* Control */

.control {
  color: var(--ifm-color-primary)
}

[data-theme='dark'] .control {
  color: var(--ifm-color-primary)
}

/* Npm Install */
.npminstall {
  color: #575757;
  border-color: var(--ifm-color-primary-lightest);
}

.npminstall:hover {
  border-color: var(--ifm-color-primary-lightest)
}

[data-theme='dark'] .npminstall {
  color: #a09f9f;
  border-color: var(--ifm-color-primary);
}

[data-theme='dark'] .npminstall:hover {
  border-color: var(--ifm-color-primary-lightest)
}

/* Design tagline */
.designtagline {
  color: #575757;
}

[data-theme='dark'] .designtagline {
  color: #a09f9f;
}

/* Smart Design */

.smartdesign {
  border : 1px solid rgba(255, 255, 255, 0)
}

.smartdesign:hover {
  background-color: white;
  cursor: pointer
}

[data-theme='dark'] .smartdesign:hover {
  background-color: var(--ifm-color-primary-darkest);
}

.selectedsd {
  background-color: white;
  /*border: 1px solid var(--ifm-color-primary)*/
  border: 1px solid #57575759
}

[data-theme='dark'] .selectedsd {
  background-color: var(--ifm-color-primary-darkest);
  border: 1px solid var(--ifm-color-primary)
}