.divider {
    background-color: var(--ifm-toc-border-color);
    border-width: 0px;
    border-style: solid;
}

.gradient {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0) 100%, rgba(0,212,255,1) 100%);
}

[data-theme='dark'] .divider {
    background-color: rgb(25 71 71);
    border-width: 0px;
    border-style: solid;
}