.divider {
    background-color: var(--ifm-toc-border-color);
    border-width: 0px;
    border-style: solid;
}

[data-theme='dark'] .divider {
    background-color: rgb(25 71 71);
    border-width: 0px;
    border-style: solid;
}